<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ad_Config</key>
	<dict>
		<key>Admob_Config</key>
		<dict>
			<key>Interstitial</key>
			<dict>
				<key>showOnEnterForeground</key>
				<false/>
				<key>showOnGameOver</key>
				<false/>
				<key>showOnStartUp</key>
				<true/>
			</dict>
			<key>interstitialAdUnitID</key>
			<string>ID</string>
		</dict>
		<key>Chatboost_Config</key>
		<dict>
			<key>Interstitial</key>
			<dict>
				<key>showOnEnterForeground</key>
				<true/>
				<key>showOnGameOver</key>
				<true/>
				<key>showOnStartUp</key>
				<true/>
			</dict>
			<key>appId</key>
			<string>ID</string>
			<key>appSignature</key>
			<string>Signature</string>
			<key>showRewardVideos</key>
			<true/>
		</dict>
		<key>Interstitial</key>
		<dict>
			<key>showOnEnterForeground</key>
			<true/>
			<key>showOnGameOver</key>
			<true/>
			<key>showOnStartUp</key>
			<true/>
		</dict>
		<key>showRewardAfterGameOver</key>
		<true/>
	</dict>
	<key>App_ID</key>
	<string>1014631396</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.Software.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RR</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Email_Config</key>
	<dict>
		<key>shareMessage</key>
		<string>Check out my high score in Ring Revolution.</string>
	</dict>
	<key>Facebook_Config</key>
	<dict>
		<key>shareMessage</key>
		<string>Check out my high score in Ring Revolution.</string>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>Store_Products</key>
	<dict>
		<key>0</key>
		<dict>
			<key>ProductIdentifiers</key>
			<string>com.RGSoftware.PotTheBall.25powerball</string>
			<key>count</key>
			<string>25</string>
		</dict>
		<key>1</key>
		<dict>
			<key>ProductIdentifiers</key>
			<string>com.RGSoftware.PotTheBall.75powerball</string>
			<key>count</key>
			<string>75</string>
		</dict>
		<key>2</key>
		<dict>
			<key>ProductIdentifiers</key>
			<string>com.RGSoftware.PotTheBall.225powerball</string>
			<key>count</key>
			<string>225</string>
		</dict>
		<key>3</key>
		<dict>
			<key>ProductIdentifiers</key>
			<string>com.RGSoftware.PotTheBall.500powerball</string>
			<key>count</key>
			<string>500</string>
		</dict>
		<key>4</key>
		<dict>
			<key>ProductIdentifiers</key>
			<string>com.RGSoftware.PotTheBall.1000powerball</string>
			<key>count</key>
			<string>1000</string>
		</dict>
	</dict>
	<key>Twitter_Config</key>
	<dict>
		<key>shareMessage</key>
		<string>Check out my high score in #RingRevolution.</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>DS-DIGI.TTF</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>gamekit</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
