<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App_ID</key>
	<string>1014631396</string>
	<key>Email_Config</key>
	<dict>
		<key>shareMessage</key>
		<string>Emailing from my own app! :)</string>
	</dict>
	<key>Facebook_Config</key>
	<dict>
		<key>shareMessage</key>
		<string>Messaging from my own app! :)</string>
	</dict>
	<key>Twitter_Config</key>
	<dict>
		<key>shareMessage</key>
		<string>Tweeting from my own app! :)</string>
	</dict>
	<key>Ad_Config</key>
	<dict>
		<key>showRewardAfterGameOver</key>
		<true/>
		<key>Admob_Config</key>
		<dict>
			<key>Interstitial</key>
			<dict>
				<key>showOnStartUp</key>
				<false/>
				<key>showOnEnterForeground</key>
				<false/>
			</dict>
			<key>interstitialAdUnitID</key>
			<string>ca-app-pub-3940256099942544/4411468910</string>
		</dict>
		<key>Chatboost_Config</key>
		<dict>
			<key>showRewardVideos</key>
			<true/>
			<key>Interstitial</key>
			<dict>
				<key>showOnStartUp</key>
				<true/>
				<key>showOnEnterForeground</key>
				<true/>
			</dict>
			<key>appSignature</key>
			<string>33c4923e877fcdf9572d677014459f0bc6a811ed</string>
			<key>appId</key>
			<string>559e7a4843150f601432ddbc</string>
		</dict>
		<key>Interstitial</key>
		<dict>
			<key>showOnStartUp</key>
			<false/>
			<key>showOnEnterForeground</key>
			<false/>
		</dict>
	</dict>
	<key>IPA_ProductIdentifiers</key>
	<array>
		<string>com.RGSoftware.PotTheBall.25powerball</string>
		<string>com.RGSoftware.PotTheBall.75powerball</string>
		<string>com.RGSoftware.PotTheBall.225powerball</string>
		<string>com.RGSoftware.PotTheBall.500powerball</string>
		<string>com.RGSoftware.PotTheBall.1000powerball</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.RGSoftware.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>DS-DIGI.TTF</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>gamekit</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
